<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.comment.mapper.IClassJxdMapper">
    <select id="getClassListByName" resultType="java.util.HashMap">
        select cNo,cname,c.empno,ename from class c LEFT JOIN emp_jxd ej on ej.empno=c.empno
        <if test="cname!= 'isNull'">
            where cname like concat('%',#{cname},'%')
        </if>
        ORDER BY cNo
        limit #{pageStart}, #{pageSize}
    </select>
    <update id="changeTeacherInOneClass">
        update class set empno=#{empno} where cNo=#{class_num}
    </update>
    <insert id="addClass">
        insert into class (cname,empno) values (#{cname},#{empno})
    </insert>

</mapper>