<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.comment.mapper.ICommentScoreMapper">
    <select id="getCommentScoreByEmpnoAndYear" resultType="java.util.HashMap">
        select cs.commentId,commentName,c_score from comment_score cs
        LEFT JOIN comment_jxd cj on cs.commentId=cj.commentId
        WHERE cs.empno_emp=#{empno} and cs.year=#{year}
    </select>
</mapper>