<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.comment.mapper.IEmpMapper">
    <select id="selectEmpJxdList" resultType="java.util.HashMap">
        select * from emp_jxd where role not in ("STUDENT","TEACHER")
    </select>
    <select id="selectTeacherList" resultType="java.util.HashMap">
        select * from emp_jxd where role="Teacher"
    </select>
</mapper>