<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.comment.mapper.IEmpMapper">
    <select id="getMessage" resultType="java.util.HashMap">
        select e.empno,ename,sex,nation,birthday,address,
        ismarry,tel,idnum,school,major,remarks,img,role,dname,cname
        from emp_jxd e left join dept_jxd d on
        e.deptno = d.deptno left join class c on
        e.class_num = c.cno where e.empno = #{empno}
    </select>
    <!---->
   <!-- <select id="getClassMemberByCNo" resultType="java.util.HashMap">
       select e.empno,e.ename,c.cname from emp_jxd e left join class c on e.class_num=c.cNo
       where e.class_num=#{cNo}
    </select>-->

    <select id="getTeacher" resultType="com.jxd.comment.model.EmpJxd">
        select e.* from emp_jxd e left join class c on
        c.empno = e.empno where cno = #{class_num}
    </select>

    <select id="selectStudentByCno" resultType="java.util.HashMap">
    select e.*,cname from emp_jxd e left join class c on
    e.class_num = c.cNo where class_num = #{class_num}
    </select>


</mapper>