<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.comment.mapper.IClassJxdMapper">

<!--sbgymyjj-->
    <select id="getClassByTeacher" resultType="java.util.HashMap">
        select cno,cname,e.ename
        from class c left join emp_jxd e on c.empno = e.empno where c.empno = #{empno}
    </select>
    <select id="getStudentByClass" resultType="java.util.HashMap">
            select empno,ename from emp_jxd where deptno=2 and class = #{cls}
    </select>
    <select id="getCourseByTeacher" resultType="java.util.HashMap">
        select courseid,coursename from course_jxd
    </select>
    <select id="getScore" resultType="java.util.HashMap">
        SELECT ename,courseName,score
FROM (
	SELECT ename,courseid,score
	FROM select_course_jxd s
		LEFT JOIN emp_jxd e ON s.empno_stu = e.empno
	WHERE
		empno_tch = #{empno}
		AND courseId = #{courseid}
	) a
	LEFT JOIN course_jxd b ON a.courseId = b.courseId
    </select>
    <select id="getEmpInfo" resultType="java.util.HashMap">
        select empno,ename,sex,birthday,address from emp_jxd where empno = #{empno}
    </select>


</mapper>