<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.comment.mapper.IClassJxdMapper">

<!--找学生-->
    <select id="getClassByTeacher" resultType="java.util.HashMap">
SELECT
	empno,
	ename,
	cname,
	dname
FROM
	( SELECT max( cno ) cno, cname FROM class WHERE empno = #{empno} ) s
	LEFT JOIN emp_jxd e ON e.class = s.cno
	LEFT JOIN dept_jxd d on e.deptno = d.deptno
    </select>
	<select id="selectStu" resultType="java.util.HashMap">
SELECT
	empno,
	ename,
	cname,
	dname
FROM
	( SELECT max( cno ) cno, cname FROM class WHERE empno = #{empno} ) s
	LEFT JOIN emp_jxd e ON e.class = s.cno
	LEFT JOIN dept_jxd d on e.deptno = d.deptno
	where empno like concat('%',#{empno_stu},'%')
	and ename like concat('%',#{ename},'%')
    </select>
	<!--根据学员编号查询-->
	<select id="selectStuByEmpno" resultType="java.util.HashMap">
SELECT
	empno,
	ename,
	cname,
	dname
FROM
	( SELECT max( cno ) cno, cname FROM class WHERE empno = #{empno} ) s
	LEFT JOIN emp_jxd e ON e.class = s.cno
	LEFT JOIN dept_jxd d on e.deptno = d.deptno
	where empno like concat('%',#{empno_stu},'%')
    </select>
	<!--根据学员姓名查询-->
	<select id="selectStuByEname" resultType="java.util.HashMap">
SELECT
	empno,
	ename,
	cname,
	dname
FROM
	( SELECT max( cno ) cno, cname FROM class WHERE empno = #{empno} ) s
	LEFT JOIN emp_jxd e ON e.class = s.cno
	LEFT JOIN dept_jxd d on e.deptno = d.deptno
	where ename like concat('%',#{ename},'%')
    </select>


    <select id="getCourse" resultType="java.util.HashMap">
        select courseid,coursename from course_jxd
    </select>
    <select id="getScore" resultType="java.util.HashMap">
SELECT
	score,
	ename
FROM
	(
	SELECT
		empno,
		ename
	FROM
		emp_jxd e
	WHERE
	class = ( SELECT max( cno ) FROM class WHERE empno = #{empno} )) a
	LEFT JOIN select_course_jxd s ON a.empno = s.empno_stu
WHERE
	courseId = #{courseid}
    </select>
    <select id="getEmpInfo" resultType="java.util.HashMap">
        SELECT empno,ename,sex,birthday,address,
	isMarry,tel,idNum,school,major,remarks,dname
FROM emp_jxd e
LEFT JOIN dept_jxd d ON e.deptno = d.deptno
WHERE
	empno = #{empno}
    </select>
    <update id="setScore" parameterType="java.util.Map">
        update select_course_jxd set score = #{score}
        where empno_stu = #{empno_stu}
        and empno_tch = #{empno_tch}
        and courseId = #{courseid}
    </update>


</mapper>