<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jxd.comment.mapper.IClassJxdMapper">

<!--sbgymyjj-->
    <select id="getClassByTeacher" resultType="java.util.HashMap">
        select cno,cname,e.ename
        from class c left join emp_jxd e on c.empno = e.empno where c.empno = #{empno}
    </select>
    <select id="getStudentByClass" resultType="java.util.HashMap">
        select empno,ename,role,d.dname
        from emp_jxd e left join dept_jxd d on e.deptno = d.deptno
        where class = #{cls} and e.deptno = 2
    </select>
    <select id="getCourseByTeacher" resultType="java.util.HashMap">
        select courseid,coursename from course_jxd
    </select>

</mapper>